{
    "main": "bin/console",
    "output": "dist/versa",
    "directories": [
      "config",
      "src",
      "vendor"
    ],
    "files": [
      ".env.local.php",
      "autoload_runtime.template"
    ],
    "check-requirements": true,
    "exclude-composer-files": false,
    "force-autodiscovery": true,
    "compression": "GZ"
}
